# Application
APP_NAME=starterkit
APP_HOST_PATH=./app
APP_CONTAINER_PATH=/var/www/app

# HTTP
APP_HTTP_PORT=8080

# MailHog
MAILHOG_HTTP_PORT=8025
MAILHOG_SMTP_PORT=1025

# MySQL
MYSQL_PORT=3306
MYSQL_DATABASE=app
MYSQL_USER=app
MYSQL_PASSWORD=app
MYSQL_ROOT_PASSWORD=root

# Redis
REDIS_PORT=6379

# Images
PHP_VERSION=8.3
NODE_VERSION=22

# Runtime
TZ=UTC

# Xdebug
XDEBUG_MODE=develop,debug
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
